* {
    padding: 0;
    margin: 0;
}

body {
    font-family: "Gabarito", sans-serif;
}

/*-------------Navbar--------------*/
.navbar {
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    display: flex;
    gap: 10px;
    justify-content: space-between;
    border-bottom: solid black 1px;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 1;
    
}

.navbar-s1 {
    display: flex;
    gap: 30px;
    align-items: center;
}

span1 {
    color: #A435F0;
}

.navbar-s1__title {
    color: black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 600;

}

.navbar-s1 p:hover {
    background-color: #EDE5F9;
    color: #6D28D2;
    border-radius: 6px;
    padding: 6px;
}

.icon {
    background-color: black;
    color: white;
    border-radius: 30px;
    font-weight: 600;
    padding: 5px;
}

.navbar-s2 {
    padding: 10px;
    border: solid black 1px;
    border-radius: 30px;
    width: 40%;
    display: flex;
    gap: 10px;
    align-items: center;
}

.navbar-s2 input {
    border: none;
    width: 100%;
    font-size: 16px;
}

.navbar-s2 input:focus {
    outline: none;
}

.navbar-s3 {
    display: flex;
    gap: 15px;
    align-items: center;
}

.navbar-s3__p1:hover {
    background-color: #EDE5F9;
    color: #6D28D2;
    border-radius: 6px;
    padding: 6px;
}

.navbar-s3__p2:hover {
    background-color: #EDE5F9;
    color: #6D28D2;
    border-radius: 6px;
    padding: 6px;
}

.navbar-s3__p3:hover {
    background-color: #EDE5F9;
    color: #6D28D2;
    border-radius: 6px;
    padding: 6px;
}
.navbar-s3__p4{
    display: none;
}
.explore{
    position: relative;
    cursor: pointer;
}
.explore__popup h4{
    color: rgb(80, 80, 80);
}
.explore__popup p{
   margin-top: 10px;
}
.explore__popup{
    position: absolute;
    background-color: white;
    color: black;
    padding: 10px;
    width: 350%;
    top: 30px;
    border: solid black 1px;
    display: none;
}
.explore:hover .explore__popup{
    display: block;
}


.explore__popup-category1 p{
    margin-top: 10px;
}
.explore__popup-one{
    position: relative;
}
.explore__popup-category1{
    position: absolute;
    background-color: white;
    color: black;
    padding: 10px;
    width: 100%;
    top: 0;
    border: solid black 1px;
    left: 190px;
    display: none;
}
.explore__popup-one:hover .explore__popup-category1{
    display: block;
}


.navbar-s3__p1{
    position: relative;
    cursor: pointer;
}
.navbar-s3__p2{
    position: relative;
    cursor: pointer;
}
.navbar-s3__p3{
    position: relative;
    cursor: pointer;
}
.business{
    position: absolute;
    background-color: white;
    color: black;
    padding: 10px;
    width: 250px;
    top: 30px;
    right: 0;
    border: solid black 1px;
    display: none;
}
.navbar-s3__p1:hover .business{
    display: block;
}
.navbar-s3__p2:hover .business{
    display: block;
}
.navbar-s3__p3:hover .business{
    display: block;
}

/*-------------Categories-------------*/
.categories {
    display: flex;
    padding: 20px;
    justify-content: space-around;
    border-bottom: solid black 0px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    gap: 17px;
    align-items: center;
    cursor: pointer;
}

.categories p:hover {
    color: #A435F0;
    transition: 1s;
    transform: scale(1.1);
}

/*--------------welcome---------------*/
.welcome {
    margin-top: 30px;
    margin-left: 50px;
    margin-bottom: 30px;
    display: flex;
    gap: 20px;
    align-items: center;
}

.welcome-s1 p {
    text-decoration: underline;
    color: #A435F0;
    font-size: 16px;
}

.welcome-icon {
    background-color: black;
    color: white;
    border-radius: 40px;
    font-weight: 600;
    font-size: 40px;
    padding: 10px;
    display: inline-block;
}

/*--------------sales image---------------*/
.sales-image {
    position: relative;
}

.sales-image img {
    width: 100%;
    padding-top: 10px;
    position: relative;
}

.flash-sale {
    position: absolute;
    background-color: white;
    color: black;
    padding: 20px;
    border: solid #5022C3 0px;
    left: 10%;
    box-shadow: black;
    border: solid black 2px;
    animation-name: zoom;
    animation-duration: 2s;
    opacity: 0;
    animation-fill-mode: forwards;
    width: auto;
    height: auto;
    top: 28%;
}
@keyframes zoom{
    0%{
        transform: scale(0);
        opacity: 0;
    }
    100%{
        transform: scale(1);
        opacity: 1;
    }
} 

.flash-sale p{
    padding-left: 10px;
}

.flash-sale:hover {
    transform: scale(1.1);
    
}

.sales-image__s1 h1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#p {
    padding-top: 10px;
    color: gray;
}

/*--------------recommended---------------*/
.recommended {
    margin-top: 10px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 40px;
    border-bottom: solid black 0px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.recommended__title {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.recommended-course {
    padding-top: 10px;
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}

.recommended-course__s1 {
    border: solid black 0px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    height: auto;
    flex-basis: 20%;
    font-size: small;
    text-align: left;
    flex-grow: 1;
}
.recommended-course__s1 p{
    padding-left: 5px;
}
.recommended-course__s1 h3{
    padding-left: 5px;
    padding-top: 5px;
    padding-right: 5px;
}

.recommended-course__s1:hover {
    transform: scale(1.03);
}

.assign {
    padding: 10px;
}

del {
    font-size: smaller;
    color: #A435F0;
}

span {
    color: gold;
}

.recommended-course__s1 img {
    height: 150px;
    width: 100%;
}

.badges {
    display: flex;

}

.b1 {
    background-color: #5022C3;
    color: white;
    border-radius: 6px;
    padding: 5px;
    margin-top: 10px;
    margin-left: 3px;
    margin-bottom: 10px;

}

.b2 {
    background-color: #C2E9EB;
    color: #0D5261;
    border-radius: 6px;
    padding: 5px;
    margin-top: 10px;
    margin-left: 3px;
    margin-bottom: 10px;
}

.cart {
    display: flex;
    justify-content: center;
    align-items: center;
}

.b3 {
    color: #6D28D2;
    border: solid #6D28D2 1px;
    border-radius: 6px;
    padding: 6px;
    margin-top: 10px;
    margin-left: 50px;
    margin-bottom: 10px;
}

.b3:hover {
    background-color: #a473c561;
}

.price {
    font-size: 15px;
}

/*--------------start learning---------------*/
.start-learning-s2 {
    display: flex;
    gap: 20px;
    align-items: center;
    border: black solid 0px;
    flex-basis: 25%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    height: auto;
    margin: 10px;
    flex-grow: 1;
}

.start-learning-s2 i {
    font-size: 60px;
    margin: 20px;
}

.start-1 {
    font-size: smaller;
}

.start-learning-s1 {
    display: flex;
    flex-wrap: wrap;
}

.start-learning {
    margin: 20px;
    margin-top: 40px;
}

.start-learning-s2:hover {
    background-color: gray;
    color: white;
    transform: scale(1.05);
}

.start-learning h1 {
    padding-left: 10px;
}

/*--------------topics recommended for you---------------*/
.topic {

    margin-bottom: 30px;
    margin: 30px;
}

.topic__container {
    display: flex;
    margin-top: 10px;
    flex-wrap: wrap;
    gap: 10px;
}

.topic__container p {
    border: solid gray 2px;
    padding: 10px;
    flex-grow: 1;
    flex-basis: 25%
}

.topic__container p:hover {
    background-color: #A435F0;
    color: white;
    transition: 1s;
    
}

/*--------------certification course---------------*/
.certification {
    margin: 20px;
    height: auto;
    width: auto;
    border: solid black 1px;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: black solid 0px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.certification-s {
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
    align-items: center;
}

.certification-s1 {
    margin: 5px;
    height: auto;
    flex-basis: 27%;
    border: solid black 0px;
    padding: 10px;
    border-radius: 20px;
    font-size: large;
    flex-grow: 1;
}

.certification-s1__p {
    padding-top: 10px;
}

.certification-s1__h3 {
    font-family: 'Times New Roman', Times, serif;
}

.certification-s2 {
    border: solid black 0px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    height: auto;
    flex-basis: 27%;
    font-size: small;
    text-align: left;
    flex-grow: 1;
    border-radius: 20px;
}

.certification-s2 img {
    height: auto;
    width: 100%;
    border-radius: 10px;
}

.cart1 {
    background-color: #5022C3;
    color: white;
    text-align: center;
    border-radius: 3px;
    padding: 8px;
}

.cart1:hover {
    transform: scale(1.05);
    background-color: #A435F0;
    color: white;
}

/*--------------popular---------------*/
.popular {
    margin-top: 30px;
    padding-left: 30px;
}

/*--------------footer section1---------------*/
.footer-s1 {
    background-color: #2A2B3F;
    color: white;
    padding-top: 30px;
    width: 100%;
}

.footer-s1 h3 {
    padding-left: 25px;
    padding-bottom: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.footer-s1__container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
}

.footer-s1__container div {
    flex-grow: 1;
    flex-basis: 20%;
    padding-left: 2%;
    padding-bottom: 2%;
}

.footer-s1__container p {
    font-weight: lighter;
}

.footer-s1__container p:hover {
    text-decoration: underline;
}

/*--------------footer section2---------------*/
.footer-s2 {
    background-color: #202230;
    color: white;
    padding-top: 30px;
    border-bottom: solid white 1px;
    width: 100%;
}

.footer-s2__container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
}

.footer-s2__container div {
    flex-grow: 1;
    flex-basis: 20%;
    padding-left: 2%;
    padding-bottom: 2%;
}

.footer-s2__container p {
    font-weight: lighter;
}

.footer-s2__container p:hover {
    text-decoration: underline;
}

/*--------------footer section3---------------*/
.footer-s3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
    background-color: #202230;
    color: white;

    height: auto;
}

.footer-s3 h1 {
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 100;
}

@media only screen and (max-width:1000px){
    .flash-sale{
        
        top: 25%;
    }
    .sales-image img {
        width: 100%;
        height: 300px;
        object-fit: cover;
    }
    .navbar-s3{
        display: none;
    }
    .navbar-s2{
        width: 55%;
    }
    .navbar-s3__p4{
        display: block;
    }
    .navbar{
        justify-content: space-around;
    }
    .categories{
        display: none;
    }
    
}
@media only screen and (max-width:600px) {
    body {
        padding: 0;
        margin: 0;
        font-size: 10px;
    }
    .navbar {
        margin-top: 10px;
        display: flex;
        flex-wrap: wrap;
    }
    .categories {
        display: flex;
        flex-wrap: wrap;
    }
    .welcome {
        margin-left: 30px;
        margin-top: 30px;
    }
    .sales-image img {
        width: 100%;
        height: 300px;
        object-fit: cover;
    }
    .footer-s1{
        flex-grow: 1;
        flex-basis: 20%;
        
    }
    .footer-s2{
        flex-grow: 3;
        flex-basis: 20%;
        
    }
    .recommended-course{
        gap: 20px;
        padding-top: 20px;
        
    }
    .recommended{
        margin-top: 20px;
        padding-left: 10px;
        padding-right: 10px;
    }
    .recommended-course__s1{
        flex-basis: 40%;
    }
    .start-learning-s2{
        flex-grow: 1;
        flex-basis: 100%;
        font-size: medium;
    }
    .flash-sale{
        width: auto;
        height: auto;
        top: 30%;
    }
    .navbar-s3{
        display: none;
    }
    .navbar-s2{
        width: 55%;
    }
    .navbar-s3__p4{
        display: block;
    }
    .navbar{
        justify-content: space-around;
    }
    .categories{
        display: none;
    }
    .certification-s1{
        flex-basis: 70%;
    }
    .certification-s2{
        flex-basis: 70%;
    }
    .certification{
        margin: 8%;
    }
    .topic{
        margin: 3%;
        font-size: medium;
    }
    .topic h1{
        font-size: 23px;
    }   
}
@media only screen and (max-width:499.9px){
    .hide{
        display: none;
    }
    .navbar-s2{
        display: none;
    }
    .navbar{
        justify-content: space-between;
    }
    .recommended-course{
        gap: 10px;
        padding-top: 20px;
        
    }
    .recommended{
        margin-top: 20px;
        padding-left: 10px;
        padding-right: 10px;
    }
    .recommended-course__s1{
        flex-basis: 35%;
        height: auto;
    }

}
